.mainTable {
	margin-bottom: 30px;
}

.table {
	margin-bottom: 10px;
}

.tableItemHead {
	margin-bottom: 10px;

	background-color: rgb(85, 84, 84);
	color: #fff;
}

.tableRow {
	display: flex;
	gap: 10px;
	padding: 5px 20px;
	max-height: 40px;
}

.tableRowItem {
	flex-basis: calc((100% - 10px * 5) / 6);
	display: flex;
	align-items: center;
	gap: 5px;

	&:last-child {
		justify-content: flex-end;
	}
}

.tableIcon {
	fill: #fff;
}

.btnWrapper {
	display: flex;
	gap: 10px;
}

.createNoteBtn,
.toggleArchiveBtn {
	padding: 5px 10px;

	border: 1px solid rgb(85, 84, 84);
	border-radius: 8px;

	&:hover,
	&:focus {
		border-color: rgba(100, 148, 237, 0.6);
		background-color: rgba(100, 148, 237, 0.6);
		color: #fff;
	}
}
